.container-main{
    display: flex;
    margin: 10%;
}

.container {
    background-color: cadetblue;
    /* display: flow-root; */
}

img {
    width: 100px;
    float: left;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    /* position: absolute; */
}

.container-2{
    margin-left: 20px;
    margin-right: 20px;
}
p{
    text-align: justify;
    padding-left:10px ;
    padding-right:10px ;
}

.first-paragraph {
    /* background-color: burlywood; */
    /* clear: both; */
}

/* a {
    width: 200px;
    float: left;
    background-color: cornflowerblue;
    margin-right: 0.75rem;
} */