*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

h1{
    background-color: aquamarine;
}

.one {
    background-color: aquamarine;
    width: 300px;
    padding: 25px;
    border: 4px solid teal;
    margin: 40px;
    
}
   


.two {
    background-color: rgb(255, 226, 96);
    width: 300px;
    padding: 25px;
    border: 8px solid hotpink;
    margin: 40px;
}