.parent {
    height: 50%;
    background-color: crimson;
}

.one {
    background-color: aquamarine;
    width: 300px;
    /* word-break: break-all; */
}

.one-child {
    width: 50%;
}

.two {
    background-color: blueviolet;
}