.parent {
    height: 50%;
    background-color: crimson;
}

.one {
    background-color: aquamarine;
    width: 300px;
    padding: 24px;
    border: 10px solid teal;
}

.one-child {
    width: 50%;
}

.two {
    background-color: blueviolet;
}