body{
    margin: 0;
}

.inliine-block{
    background-color: chocolate;
    display: inline-block;
}

.html{
    display:  inline-block;
    background-color: skyblue;
    width: 60px;
    height: 40px;
    border: 10px solid hotpink;
    margin: 25px;
    padding: 25px;
}

img{
    height: 300px;
    background-color: cadetblue;
    padding: 50px;
    border: 20px solid dimgrey;
    margin: 20px;
}

video{
    width: 440px;
    padding: 20px;
}

iframe{
    width: 480px;
    height: 380px;
    margin: 20px;
}