body{
    margin: 0;
}

img{
    margin: .5rem;
    position: absolute;
    /* float: left; */
    /* float: right; */
    width: 100px;
}

/* a{
    background-color: cadetblue;
    height: 50px;
    margin: .5rem;
    float: left;
    /* float: right; *
    width: 200px;
} */

.first-paragraph{
    background-color: burlywood;
}